body {
  --el-menu-active-color: #ffffff;
  --el-menu-text-color: hsl(0deg 0% 100% / 65%);
  --el-menu-hover-bg-color: transparent;
  --el-menu-hover-text-color: #ffffff;
  --el-menu-bg-color: #001529;
  --el-menu-sub-bg-color: #000c17;
  --el-menu-item-height: 45px;
  --el-menu-sub-item-height: 45px;

  // header
  --header-bg-color: #ffffff;
  --header-height: 50px;
  --header-hover-color: rgb(0 0 0 / 2.5%);
  --header-action-color: #000000d9;

  // aside
  --el-aside-width: 200px;
  --el-menu-base-level-padding: 15px;
}

.el-menu {
  border: none;

  .is-active > .el-sub-menu__title {
    color: var(--el-menu-active-color);
  }

  .el-menu-item,
  .el-sub-menu__title {
    &:hover {
      color: var(--el-menu-hover-text-color);
    }
  }

  .el-menu-item {
    span {
      z-index: 1;
    }
  }
}

// 纵向菜单
.el-menu--vertical {
  .el-menu .el-sub-menu__title,
  .el-sub-menu .el-menu-item {
    background-color: var(--el-menu-sub-bg-color);
  }

  .el-menu-item.is-active::before {
    position: absolute;
    inset: 0 8px;
    margin: 3.5px 0;
    clear: both;
    content: '';
    background: var(--el-color-primary);
    border-radius: 3px;
  }

  &.el-menu--collapse {
    width: 54px;

    .el-sub-menu.is-active {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        content: '';
        background-color: var(--el-color-primary);
      }
    }
  }

  .el-menu--popup {
    background-color: var(--el-menu-sub-bg-color);

    .el-menu-item.is-active::before {
      margin: 0;
    }
  }
}

// 横向菜单
.el-menu--horizontal {
  .el-menu .el-sub-menu__title {
    background-color: var(--el-menu-sub-bg-color);
  }

  &.el-menu {
    height: 100%;

    .el-menu-item.is-active,
    .el-sub-menu.is-active .el-sub-menu__title {
      border-bottom: 2px solid var(--el-color-primary);
    }
  }

  .el-menu--popup {
    background-color: var(--el-menu-sub-bg-color);

    .el-menu-item {
      background-color: var(--el-menu-sub-bg-color);
    }

    .el-menu-item.is-active::before {
      position: absolute;
      inset: 0 8px;
      clear: both;
      content: '';
      background: var(--el-color-primary);
      border-radius: 3px;
    }
  }
}

// 左侧栏样式
.layout-aside {
  height: 100vh;
  overflow: hidden;
  background-color: var(--el-menu-bg-color);
  box-shadow: 10px 0 10px -10px rgb(0 0 0 / 12%);
  transition: width 0.28s;

  .el-scrollbar {
    .el-scrollbar__bar.is-vertical {
      right: 0;
    }
  }

  &.collapse {
    width: 54px !important;
  }
}

body[layout='horizontal'] {
  --header-height: 56px;

  .logo {
    width: var(--el-aside-width);
    transform: scale(1.13);
  }
}
