:root {
  --logo-bg-color: #002140;
  --logo-text-color: #ffffff;
  --menu-bg-color: #001529;
  --menu-text-color: hsl(0deg 0% 100% / 65%);
  --menu-hover-text-color: #ffffff;
  --menu-sub-bg-color: #000c17;
  --menu-active-color: #ffffff;
  --menu-active-bg-color: var(--el-color-primary);
  --menu-hover-bg-color: transparent;
}
