:root {
  // header
  --header-height: 50px;

  // sidebar
  --sidebar-width: 200px;
  --el-menu-base-level-padding: 15px;
  --el-menu-hover-bg-color: transparent;
  --el-menu-item-height: 45px;
  --el-menu-sub-item-height: 45px;
}
