#resume {
  width: 100%;
  height: 100%;
  background-color: #f7f8f9;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    min-height: 100%;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 10%);
    -webkit-box-orient: vertical;

    .header-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      min-height: 240px;
      padding: 30px 40px 0;
      -webkit-box-orient: vertical;
      -webkit-box-align: end;
      -ms-flex-align: end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-box-direction: normal;

      .name {
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        font-size: 3em;
        color: #212529;
        -webkit-box-orient: horizontal;
        -webkit-box-align: center;
      }

      .content {
        .el-tag {
          height: 21px;
        }

        .el-tag.el-tag--info {
          color: #ffffff;
          background-color: #212529;
        }

        .rotate-divider {
          height: 0.7em;
          border-left: 1px #000000 var(--el-border-style);
          transform: rotate(20deg);
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 40px;
      padding: 0 40px;
      font-size: 14px;
      color: hsl(0deg 0% 100% / 60%);
      background-color: #495057;
    }

    .section {
      padding: 0 40px;

      :deep(.el-divider__text.is-left) {
        left: 0;
        padding-left: 0;
        font-size: 1.5em;
        color: #212529;
      }

      .content {
        .row {
          display: flex;
          justify-content: space-between;

          .col-title {
            font-size: 1.2em;
            font-weight: 600;
            line-height: 2em;
            color: #212529;
          }

          .col-info {
            font-size: 1em;
            color: #adb5bd;
          }

          .el-tag {
            height: 21px;
          }
        }
      }
    }

    a,
    a:focus,
    a:hover {
      color: inherit;
      color: #37b24d !important;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  ul {
    margin-top: 10px;
    margin-left: 18px;
    font-size: 14px;
    color: #868e96;

    li {
      margin-top: 10px;
      font-size: 14px;
      color: #868e96;
    }
  }
}
